Help/
Modules/
Other/
Scripts/
Functions/Chrome_Functions_IDs.psd1
Functions/Show_InstalledSoftwares.ps1
Functions/cdRemake_Function.ps1
Functions/lsRemake_Function.ps1
Functions/tempc_fun.ps1

# These files have their own repository
Functions/Trash-Bin.ps1
Functions/WifiMan.ps1
